html {
    background-image: url(gallery1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header {
    width: 100%;
    background: aqua;
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 15px;
    z-index: 2;
}
.header_logo{
  text-align:center;
  font-family:sans-serif
}    

.intro{
  padding-top: 257px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.spec{
  position: relative;
  margin-bottom: auto;
}